# Fichier: requirements.txt (version minimale)
streamlit
langchain
langchain-community
langchain-google-genai
psycopg2-binary
SQLAlchemy
python-dotenv
# python-multipart
# google-generativeai
# pydantic
# firebase-admin

# chromadb
# faiss-cpu
# PyPDF2
# pypdf
# tiktoken
# huggingface-hub
# transformers
duckduckgo-search
# pytest
# langchain_huggingface
# fastapi 
# uvicorn
# requests
# sentence-transformers